## Loops

Video Outline:

### Introduction to Loops

1.  for Loop

.   Iterating over a range

.   Iterating over a string

.   while Loop

2.  Loop Control Statements

.   break

.   continue

.   pass

.   Nested Loops

3.  Practical Examples and Common Errors

### Iterating over a range

In [358]:
range(5)

range(0, 5)

In [359]:
range(10)

range(0, 10)

In [360]:
### for loop

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [361]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [362]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [363]:
### Even numbers

for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [364]:
### Odd numbers

for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [365]:
### Reverse numbers

for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

### Iterating over a string

In [366]:
## strings

str="Parag Pujari"

for i in str:
    print(i, end= "")

Parag Pujari

In [367]:
for i in str:
    print(i, end = " ")

P a r a g   P u j a r i

In [368]:
for i in str:
    print(i)

P
a
r
a
g

P
u
j
a
r
i

### while Loop

In [369]:
### Numbers from 1 till 10

i = 1
while(i <= 10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [370]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break statement


for i in range(10):
    if(i == 5):
        break
    print(i)

0
1
2
3
4

In [371]:
### Print prime numbers using break

for i in range(2, 10):
    for x in range(2, i):
        if((i % x) == 0):
            break
    else:
        print(i, end = " ")

2 3 5 7

In [372]:
## continue

## The continue statement skips the current iteration and continues with the next.

### skip all the numbers divisible by 2

for i in range(1,100):
    if((i%2)==0):
        continue
    print(i, end= " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [373]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if(i == 3):
        pass
    print(i)

0
1
2
3
4

In [374]:
### Calculate the sum of first N natural numbers using a while and for loop

N = 10

sum = 0

i = 1

while(i <= N):
    sum = sum + i
    i = i + 1

print("Sum of N Natural Numbers is :", sum)

Sum of N Natural Numbers is : 55

### Nested Loops

In [375]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1