## Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.


Lists are created using square brackets:

In [2672]:
### empty lists

lists = []

print(lists)

print(type(lists))

[]
<class 'list'>

In [2673]:
## lists with elements

lists = ['apple','banana','cherry','guava']

print(lists)

print(type(lists))

['apple', 'banana', 'cherry', 'guava']
<class 'list'>

## Properties of Lists

1. Lists are ordered, mutuable and allow duplicates.

In [2674]:
# Lists allow duplicate values:


lists = ['apple','banana','banana','cherry','cherry','guava']

print(lists)

print(type(lists))

['apple', 'banana', 'banana', 'cherry', 'cherry', 'guava']
<class 'list'>

2.  Lists determine the total number of elements using len() function.

In [2675]:
print(lists)

x = len(lists)

print(x)

['apple', 'banana', 'banana', 'cherry', 'cherry', 'guava']
6

3. Lists can contain the elements of the same or different types.

In [2676]:
lists = [10,20,30,3.456,23.456,8+9j,"parag",(30,50),[9,3,4],True,"apple","male",False]

print(lists)

print(type(lists))

[10, 20, 30, 3.456, 23.456, (8+9j), 'parag', (30, 50), [9, 3, 4], True, 'apple', 'male', False]
<class 'list'>

4. type() -----> It defines the type of the list.

In [2677]:
print(lists)


print(type(lists))

[10, 20, 30, 3.456, 23.456, (8+9j), 'parag', (30, 50), [9, 3, 4], True, 'apple', 'male', False]
<class 'list'>

5. list() ---------------> It is a constructor that helps in creating a new list.

In [2678]:
mylist = list(('apple','banana','guava'))

print(mylist)

print(type(mylist))

['apple', 'banana', 'guava']
<class 'list'>

## Python - Access Lists Items

Access Items

List items are indexed and you can access them by referring to the index number:

In [2679]:
### print the first element in the lists

thislist = ["apple", "banana", "cherry"]

thislist[0]

'apple'

In [2680]:
### print the second element in the lists

thislist = ["apple", "banana", "cherry"]

thislist[1]

'banana'

## Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [2681]:
### print the last item in the lists

thislist = ["apple", "banana", "cherry"]

print(thislist[-1])

cherry

In [2682]:
### Print the second last item in the list

print(thislist[-2])

banana

## Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [2683]:
# Return the third fourth and fifth item in the lists


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

thislist[2:5]

['cherry', 'orange', 'kiwi']

In [2684]:
# Return all the elements before kiwi

thislist[0:4]

['apple', 'banana', 'cherry', 'orange']

In [2685]:
# This example returns the items from "cherry" to the end

thislist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [2686]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

thislist[-4:-1]

['orange', 'kiwi', 'melon']

## Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [2687]:
thislist = ["apple", "banana", "cherry"]

if('apple' in thislist):
    print('apple is present in the list.')

apple is present in the list.

## Python - Change List Items

## Change Item Value

To change the value of a specific item, refer to the index number

In [2688]:
# Lists are mutuable

thislist = ["apple", "banana", "cherry"]

thislist[1] = "guava"


print(thislist)

['apple', 'guava', 'cherry']

## Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [2689]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrent","watermelon"]

thislist

['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'mango']

In [2690]:
# Change the second value by replacing it with two new values


thislist = ["apple", "banana", "cherry"]

thislist[1] = ["strawberry","guava"]

thislist

['apple', ['strawberry', 'guava'], 'cherry']

In [2691]:
thislist[1:2] = ["strawberry","guava"]

thislist

['apple', 'strawberry', 'guava', 'cherry']

In [2692]:
lists = [10,20,30,40,50]

### change the first value with the new values

lists[0:1] = [1,2,3]

lists

[1, 2, 3, 20, 30, 40, 50]

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index

In [2693]:
thislist = ["apple", "banana", "cherry"]

# Insert "watermelon" at the second element in the list

thislist.insert(1,"watermelon")

thislist

['apple', 'watermelon', 'banana', 'cherry']

In [2694]:
mylist = ['apple', 'banana', 'cherry']

mylist[0] = 'kiwi'

mylist

['kiwi', 'banana', 'cherry']

## Python - Add List Items

## Append Items

To add an item to the end of the list, use the append() method:

In [2695]:
# append() = add element at the end of the list.

mylist = ['apple', 'banana', 'cherry']

mylist.append('guava')

mylist

['apple', 'banana', 'cherry', 'guava']

In [2696]:
mylist.append('orange')

mylist

['apple', 'banana', 'cherry', 'guava', 'orange']

## Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [2697]:
mylist = ['apple', 'banana', 'cherry']

# Insert the orange at the second item in the list.

mylist.insert(1,'orange')

mylist

['apple', 'orange', 'banana', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method

In [2698]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

In [2699]:
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2700]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.append(tropical)

In [2701]:
thislist

['apple', 'banana', 'cherry', ['mango', 'pineapple', 'papaya']]

### OBSERVATIONS:


1.  extend() ------------> It adds the elements of another lists as an individual element.

2.  append() ------------> It adds the elements of another list as an individual list.

## Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [2702]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

thislist

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [2703]:
mylist = ['apple', 'banana', 'cherry']

# Insert orange at the first position of the list

mylist.insert(0,'orange')

In [2704]:
mylist

['orange', 'apple', 'banana', 'cherry']

## Python - Remove List Items

### Remove Specified Item

The remove() method removes the specified item.

In [2705]:
mylist = ['apple', 'banana', 'cherry']

mylist.remove('banana')

mylist

['apple', 'cherry']

In [2706]:
# Remove the first occurrence of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]

thislist.remove("banana")

In [2707]:
thislist

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index

The pop() method removes the specified index.

In [2708]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]

# It removes the last item from the list.

thislist.pop()

thislist

['apple', 'banana', 'cherry', 'banana']

In [2709]:
# To remove the second item from the list.

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]

thislist.pop(1)

thislist

['apple', 'cherry', 'banana', 'kiwi']

The del keyword also removes the element at the specified index

In [2710]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]

del thislist[1]

thislist

['apple', 'cherry', 'banana', 'kiwi']

The del keyword can delete the list permanently

In [2711]:
del thislist

In [2712]:
# thislist

## Clear the List

The clear() method empties the list.

The list still remains, but it has no content

In [2713]:
thislist = ["apple", "banana", "cherry"]

thislist.clear()

thislist

[]

### count()

count() -> It counts the number of elements in the list.

In [2714]:
fruits = ['apple', 'banana', 'cherry']

fruits.count('banana')

1

In [2715]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]


x = points.count(9)

print(x)

2

## Python - Join Lists

##  Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [2716]:
# Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

lists = list1 + list2

print(lists)

['a', 'b', 'c', 1, 2, 3]

In [2717]:
list1.append(list2)

In [2718]:
list1

['a', 'b', 'c', [1, 2, 3]]

In [2719]:
list1.extend(list2)

In [2720]:
list1

['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

## Reverse Order

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements

In [2721]:
# Reverse the order of the list items

thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [2722]:
# Sort the list alphabetically

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2723]:
# Sort the list numerically

thislist = [100, 50, 65, 82, 23]

thislist.sort()

thislist

[23, 50, 65, 82, 100]

## Sort Descending

To sort descending, use the keyword argument reverse = True

In [2724]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse=True)

thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [2725]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse=True)

thislist

[100, 82, 65, 50, 23]

## Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [2726]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

thislist

['Kiwi', 'Orange', 'banana', 'cherry']

In [2727]:
# Perform a case-insensitive sort of the list

thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key=str.lower)

thislist

['banana', 'cherry', 'Kiwi', 'Orange']

## Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [2728]:
## Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]

l = len(thislist)

i = 0

while(i < l):
    print(i, thislist[i])
    i = i + 1

0 apple
1 banana
2 cherry

## Looping Using List Comprehension

### List Comprehension offers the shortest syntax for looping through lists

In [2729]:
thislist = ["apple", "banana", "cherry"]


res=[ print(x) for x in thislist if(x != 0)]

apple
banana
cherry

## List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside

In [2730]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]


res = [x for x in fruits if(x != "")]

res

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [2731]:
# Only accept items that are not "apple"

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]


res = [x for x in fruits if(x != "apple")]

res

['banana', 'cherry', 'kiwi', 'mango']

In [2732]:
# You can use the range() function to create an iterable 

res = [x for x in range(11) if(x != 0)]

res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2733]:
# Accept only numbers lower than 5

res = [x for x in range(10) if(x < 5)]

res

[0, 1, 2, 3, 4]

In [2734]:
# Set the values in the new list to upper case


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]


res = [x.upper() for x in fruits if(x != "")]

res

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [2735]:
# Set all values in the new list to 'hello'

res = ["hello" for x in fruits if(x != "")]

res

['hello', 'hello', 'hello', 'hello', 'hello']

In [2736]:
# Return "orange" instead of "banana"


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]


res = ["orange" if(x == "banana") else x for x in fruits]
res

['apple', 'orange', 'cherry', 'kiwi', 'mango']