## Tuples

1.  These are the data structures that can store multiple values in a single variable.

2.  They are ordered.

3.  They are immutable.

4.  It allows for duplicate values.

5.  It can store the elements of different types

In [613]:
## empty tuple

tuples = ()

print(tuples)

print(type(tuples))

()
<class 'tuple'>

In [614]:
tuples = tuple()

print(tuples)

print(type(tuples))

()
<class 'tuple'>

In [615]:
# Tuples with elements

tuples = ('disco',10,1.2)

print(tuples)

print(type(tuples))

('disco', 10, 1.2)
<class 'tuple'>

In [616]:
# Duplicates in tuples

thistuple = ("apple", "banana", "cherry", "apple", "cherry")

print(thistuple)

print(type(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>

## Tuple Length

To determine how many items a tuple has, use the len() function

In [617]:
tuples = ("apple","banana","cherry")

print('Length of the tuple is:', len(tuples))

Length of the tuple is: 3

## Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [618]:
tuples = ('apple')

print(tuples)

print(type(tuples))

apple
<class 'str'>

In [619]:
tuples = ('apple',)    ### Tuple with one element

print(tuples)

print(type(tuples))

('apple',)
<class 'tuple'>

## Data Types in Tuples

In [620]:
tuple1 = ("disco",10,1.2 )

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [621]:
# It can have the elements of different types in it

tuple1 = ("abc", 34, True, 40, "male",(3+4j), 78.34)

print(tuple1)

print(type(tuple1))

('abc', 34, True, 40, 'male', (3+4j), 78.34)
<class 'tuple'>

## The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple

In [622]:
mytuple = tuple(("apple","banana","cherry"))

print(mytuple)

print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

## Access the tuple elements

In [623]:
mytuple

# Print the second item in the tuple

mytuple[1]

'banana'

In [624]:
mytuple[-2]

'banana'

## Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [625]:
# Print the last item of the tuple

mytuple[-1]

'cherry'

In [626]:
# Print the second last element in the tuple

mytuple[-2]

'banana'

In [627]:
# Print the third last element in the tuple


mytuple[-3]

'apple'

## Slicing

We can slice tuples, obtaining new tuples with the corresponding elements:

In [628]:
print(mytuple)

# Slice from index 0 to index 2

print(mytuple[0:3])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# Slice from index 3 to index 4

print(thistuple[3:5])

# Return the third, fourth, and fifth item

print(thistuple[2:5])

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('orange', 'kiwi')
('cherry', 'orange', 'kiwi')

In [629]:
# This example returns the items from the beginning to, but NOT included, "kiwi"

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[0:4])

('apple', 'banana', 'cherry', 'orange')

In [630]:
# This example returns the items from "cherry" and to the end

print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [631]:
# This example returns the items from index -4 (included) to index -1 

print(thistuple[-4:])

('orange', 'kiwi', 'melon', 'mango')

In [632]:
# This example returns the items from index -4 (included) to index -1 excluded

thistuple[-4:-1]

('orange', 'kiwi', 'melon')

## Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [633]:
thistuple = ("apple", "banana", "cherry")

if("apple" in thistuple):
    print('apple is present in the tuple:')

apple is present in the tuple:

## Python - Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple

In [634]:
x = ("apple", "banana", "cherry")

print(x)

y = x

print(y)

### Tuples are immutable as the elements in the tuple cannot be changed

# y[1] = "guava"

print(y)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

## Add Items

Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [635]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple

### print the tuple

print(x)

### convert the tuple into the list

res = list(x)

print(res)


### add the 'orange' into the list

res.append('orange')

print(res)

### convert it back into a tuple


tups = tuple(res)

print(tups)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry', 'orange')

2.  Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [636]:
tups = tups + ('guava',)

In [637]:
tups

('apple', 'banana', 'cherry', 'orange', 'guava')

## Remove Items

Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [638]:
tups


### convert the tuple into the list 

x = list(tups)

print(x)

##  Remove the apple from the list

x.remove("apple")

print(x)

['apple', 'banana', 'cherry', 'orange', 'guava']
['banana', 'cherry', 'orange', 'guava']

In [639]:
# The del keyword can delete the tuple completely

tups


del tups

## Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking

In [640]:
res = ('apple', 'banana', 'cherry', 'orange', 'guava')

print(res) ### packing the tuple

('apple', 'banana', 'cherry', 'orange', 'guava')

In [641]:
a,b,c,d,e = res ### unpacking the tuple

print(a)
print(b)
print(c)
print(d)
print(e)

apple
banana
cherry
orange
guava

## Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [642]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

x,*y,z = fruits 

print(x)
print(*y)
print(z)

apple
banana cherry strawberry
raspberry

In [643]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

x,y,*z = fruits

print(x)
print(y)
print(*z)

apple
mango
papaya pineapple cherry

## Python - Loop Tuples

## Loop Through a Tuple

You can loop through the tuple items by using a for loop.

In [644]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

for i in fruits:
    print(i)

apple
banana
cherry
strawberry
raspberry

### Loop Through an Index

In [645]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry
3 strawberry
4 raspberry

In [646]:
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")

i = 0

l = len(thistuple)

while(i < l):
    print(i, thistuple[i])
    i = i + 1

0 apple
1 banana
2 cherry

## Python - Join Tuples

## Join Two Tuples

To join two or more tuples you can use the + operator:

In [647]:
# Join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2

print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [648]:
fruits = ("apple", "banana", "cherry")

mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Methods in Tuples:

In [649]:
# 1. count() = returns the number of times a specified value appears in the tuple

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [650]:
# 2. index() = It searches for the first occurrence of the value  and return its position

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3