## Sets

1.  A set is a kind of data structure that contains all the elements of unique type. It does not have any duplicates.

2.  It is unordered.

3.  It is unindexed.

4.  It cannot be iterated.

5. It can be used for membership operations like union, intersections etc.

In [1178]:
# empty sets

my_empty_set = set()

print(my_empty_set)

print(type(my_empty_set))

set()
<class 'set'>

In [1179]:
### sets with elements

thisset = {1,2,3,4,5}

print(thisset)

print(type(thisset))

{1, 2, 3, 4, 5}
<class 'set'>

In [1180]:
### convert list to sets

lists = [1,2,3,4,5,6,7,8,9,10]

sets = set(lists)

print(sets)

print(type(sets))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [1181]:
### Sets does not have any duplicates

sets = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,7,7,7,8,8,8,9,9,10}

print(sets)

print(type(sets))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### OBSERVATIONS:

1.  No duplicate elements was found from the sets.

In [1182]:
### Sets can have the elements of differet types

sets = {"apple", "banana", "cherry", True, 1, 2}

print(sets)

print(type(sets))

{True, 2, 'cherry', 'apple', 'banana'}
<class 'set'>

### OBSERVATIONS:

1.  Sets can have the elements of different types.

## Get the Length of a Set

len -> It is used to get the length of the set.

In [1183]:
sets = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,7,7,7,8,8,8,9,9,10}

print(sets)

print("Length of the sets is:", len(sets))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Length of the sets is: 10

## Set Items - Data Types

Set items can be of any data type:

In [1184]:
set1 = {"apple", "banana", "cherry",1,5,7,9,3,True, False, False}

print(set1)

print(type(set1))

{False, 1, 3, 5, 7, 9, 'cherry', 'apple', 'banana'}
<class 'set'>

## The set() Constructor

It is also possible to use the set() constructor to make a set.

In [1185]:
ans = set((1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,7,7,7,8,8,8,9,9,10))

print(ans)

print(type(ans))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

## Python - Access Set Items

## Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [1186]:
thisset = {"apple", "banana", "cherry"}

for i in thisset:
    print(i)

banana
cherry
apple

### OBSERVATIONS:

1.  The elements of the sets cannot be accessed directly using an index . But it can be accessed using loops.

Check if "banana" is present in the set:

In [1187]:
if("banana" in thisset):
    print("banana is present in the set")

banana is present in the set

## Python - Add Set Items

## Add Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [1188]:
thisset = {"apple", "banana", "cherry"}

thisset.add("guava")

print(thisset)

{'guava', 'banana', 'cherry', 'apple'}

### OBSERVATIONS:

1. After adding an element into the set, we see that the set is unordered.

## Add Sets

To add items from another set into the current set, use the update() method.

In [1189]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

### To update the elements of the entire set into the another set

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'papaya', 'pineapple', 'banana', 'mango'}

### OBSERVATIONS:

1.  The set is completely unordered.

## Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [1190]:
thisset = {"apple", "banana", "cherry"}
tropical = ["pineapple", "mango", "papaya"]

thisset.update(tropical)

thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [1191]:
thisset = {"apple", "banana", "cherry"}
mylist  = ["kiwi","orange"]


thisset.update(mylist)

thisset

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

## Python - Remove Set Items

##  Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [1192]:
# Remove "banana" by using the remove() method

thisset = {"apple", "banana", "cherry"}


thisset.remove("banana")


thisset

{'apple', 'cherry'}

In [1193]:
#thisset.remove("guava")

thisset

{'apple', 'cherry'}

### OBSERVATIONS:

1.  If we try to remove an element that is not present in the set, then the remove will throw an error.

In [1194]:
# Remove "banana" by using the discard() method


thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

thisset

{'apple', 'cherry'}

In [1195]:
thisset.discard("guava")

thisset

{'apple', 'cherry'}

### OBSERVATIONS:

1.  If we try to discard an element that is not present in the set, then the discard will not throw an error.

In [1196]:
# pop() = It is used to remove the random item from the set.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

banana

In [1197]:
#  clear() = It  removes all the elements from the set

thisset = {"apple", "banana", "cherry"}

thisset.clear()

thisset

type(thisset)

set

In [1198]:
# del() = It deletes the set completely

thisset = {"apple", "banana", "cherry"}

del thisset

## Membership Operations:

In [1199]:
# 1. union() = It returns a new set with all items from both sets.


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}


x = set1.union(set2)

print(x)

{'b', 1, 2, 3, 'a', 'c'}

In [1200]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

x = set1.union(set2)

print(x)

{1, 2, 3, 4, 5, 6, 7}

In [1201]:
# 2. intersection() = It returns a new set with common elements from both the sets.

set1 = {"a", "b", "c"}
set2 = {"b", "c", "d"}

x = set1.intersection(set2)

print(x)

{'b', 'c'}

In [1202]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

x = set1.intersection(set2)

print(x)

{3, 4, 5}

## Join Multiple Sets

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [1203]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

x=set1.union(set2, set3, set4)
print(x)

{'b', 1, 2, 3, 'Elena', 'a', 'John', 'bananas', 'cherry', 'apple', 'c'}

## Join a Set and a Tuple

The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [1204]:
set1 = {"a", "b", "c"}
set2 = [1,2,3]

x = set1.union(set2)   # union of set and list is a set

print(x)

print(type(x))

{'b', 1, 2, 3, 'a', 'c'}
<class 'set'>

In [1205]:
set1 = {"a", "b", "c"}
set2 = (1,2,3)

x = set1.union(set2)  # union of set and tuple is a set

print(x)

print(type(x))

{'b', 1, 2, 3, 'a', 'c'}
<class 'set'>

In [1206]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}


x = set1.union(set2)

print(x)

print(type(x))

{'b', 1, 2, 3, 'a', 'c'}
<class 'set'>

In [1207]:
# Intersection = common elements from both the sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)

print(set3)

{'apple'}

In [1208]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set


set1.intersection_update(set2)

print(set1)

{'apple'}

In [1209]:
## Difference = The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [1210]:
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [1211]:
# Symmetric Differences = The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

x = set1.symmetric_difference(set2)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [1212]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'banana', 'microsoft'}

## Frozen set

It is an immutable version of the set.

Unline the sets, the elements in this set cannot be added or removed.

In [1213]:
x = frozenset({"apple","banana","guava"})

print(x)

print(type(x))

frozenset({'guava', 'banana', 'apple'})
<class 'frozenset'>

## Methods in sets:

In [1214]:
# 1. issubset() = It returns true if all the elements in one set is present in another set.

x = {'a','b','c'}

y = {'a','b','c','x','y','z'}


print(x.issubset(y))

True

In [1215]:
# 2. issuperset() = It returns true if elements of one set has its elements in another set

x = {'a','b','c'}

y = {'a','b','c','x','y','z'}

print(y.issuperset(x))

True

In [1216]:
# 3. isdisjoint() = It returns true if no elements in one set is present in another set.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True