## What are Strings?

Strings are the sequences of characters enclosed within single or double quotes.

In [747]:
# Use quotation marks for defining string

strs = "The BodyGuard"

print(strs)

print(type(strs))

The BodyGuard
<class 'str'>

In [748]:
# Use single quotation marks for defining string

strs = 'The BodyGuard'

print(strs)

print(type(strs))

The BodyGuard
<class 'str'>

In [749]:
# Digitals and spaces in string

dig = '1 2 3 4 5 6'

print(dig)

print(type(dig))

1 2 3 4 5 6
<class 'str'>

In [750]:
# Special characters in string

special = '@#2_#]&*^%$'

print(special)

print(type(special))

@#2_#]&*^%$
<class 'str'>

In [751]:
# print 'Hello'

print('Hello')

Hello

In [752]:
# Assign string to variable

name = "The Bodyguard"

print(name)

print(type(name))

The Bodyguard
<class 'str'>

## Indexing in Strings:

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

In [753]:
# Print the first element in the string

name[0]

'T'

In [754]:
# Print the last element in the string

name[-1]

'd'

In [755]:
# Print the element on index 6 in the string


name[6]

'd'

In [756]:
# Print the element on the 10th index in the string

name[10]

'a'

## Negative Indexing

We can also use negative indexing with strings:


Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [757]:
# Print the last element in the string

name[-1]

'd'

In [758]:
# Print the first element in the string


name[-13]

'T'

In [759]:
# Find the length of string

len(name)

13

## Slicing

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [760]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'The '

In [761]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'guar'

## Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [762]:
# Get every second element, starting with the index 0. The elments on index 0, 2, 4 ...

name[::2]

'TeBdgad'

In [763]:
# Get every second element in the range from index 0 to index 4 

name[0:4:2]

'Te'

## Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [764]:
res=name + " " + "is the best."

print(res)

The Bodyguard is the best.

In [765]:
# Print the string for 3 times

name * 3

'The BodyguardThe BodyguardThe Bodyguard'

In [766]:
# Concatenate strings

res = name + ' ' + 'is the best.'

print(res)

The Bodyguard is the best.

## Escape Sequences


Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [767]:
# New line escape sequence


print('The Bodyguard \n is the best album.')

The Bodyguard
 is the best album.

In [768]:
# Tab escape sequence

print('The Bodyguard \t is the best album.')

The Bodyguard 	 is the best album.

In [769]:
# Include back slash in string

print('The Bodyguard \\ is the best album.')

The Bodyguard \ is the best album.

## String Manipulation Operations

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method upper; this method converts lower case characters to upper case characters:

In [770]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("Before upper case string is :", a)

a1 = a.upper()
print("After upper case string is :", a1)

Before upper case string is : Thriller is the sixth studio album
After upper case string is : THRILLER IS THE SIXTH STUDIO ALBUM

In [771]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "The BodyGuard is the best album"

res = a.replace("Bodyguard","Janet")

print(res)

The BodyGuard is the best album

In [772]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "The BodyGuard"

name.find('h')

1

In [773]:
# Find the substring in the string.

name.find('Guard')

8

In [774]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

The method Split splits the string at the specified separator, and returns a list.

## Syntax

string.split(separator, maxsplit)

## Parameters

separator (optional): This is the delimiter at which the string will be split. If not provided, the default separator is any whitespace.
maxsplit (optional): This specifies the maximum number of splits to perform. If not provided, there is no limit on the number of splits.
Return Value:

The method returns a list of substrings.

In [775]:
# Split the substring into list
name = "The BodyGuard"

string_split = name.split(' ')

print(string_split)

['The', 'BodyGuard']