## Arrays

Arrays are used to store multiple values in one single variable.

In [727]:
# array

## Create an array containing car names

cars = ["Ford","Maruti","BMW"]

print(cars)

print(type(cars))

['Ford', 'Maruti', 'BMW']
<class 'list'>

## Access the Elements of an Array

You refer to an array element by referring to the index number

In [728]:
## Get the value of the first array item
cars[0]

'Ford'

In [729]:
## Get the value of the last array item
cars[-1]

'BMW'

In [730]:
## Modify the value of the first array item

cars[0] = "Toyota"

print(cars)

['Toyota', 'Maruti', 'BMW']

## The Length of an Array

Use the len() method to return the length of an array (the number of elements in an array)

In [731]:
print('Length of the array is:', len(cars))

Length of the array is: 3

## Looping Array Elements

You can use the for in loop to loop through all the elements of an array

In [732]:
for i in cars:
    print(i)

Toyota
Maruti
BMW

## Adding Array Elements

You can use the append() method to add an element to an array

In [733]:
cars.append('Honda')

In [734]:
cars

['Toyota', 'Maruti', 'BMW', 'Honda']

## Removing Array Elements


You can use the pop() method to remove an element from the array


1.  pop()  =  It is used to remove the element from the array using the index.

In [735]:
# Delete the second element of the cars array

cars.pop(1)

'Maruti'

In [736]:
cars

['Toyota', 'BMW', 'Honda']

You can also use the remove() method to remove an element from the array.

2. remove() = It is used to remove the particular element from the array by specifying its name.

It throws an error if it tries to remove an element if it is not there.

In [737]:
## Delete the element that has the value "Toyota"

cars.remove('Toyota')

In [738]:
cars

['BMW', 'Honda']

In [739]:
## Delete the element that has the value "Volvo"

#cars.remove('Volvo')

In [740]:
cars

['BMW', 'Honda']

## Methods used in Arrays :

In [741]:
# 1. append() = It is used to add the element in the array at the end.

fruits = ['apple', 'banana', 'cherry']
# Add the fruit 'orange' at the end
fruits.append('orange')

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [742]:
# 2. clear() = It removes all the elemnts from the list.


fruits.clear()

print(fruits)

[]

In [743]:
# 3. copy() = It returns the copy of the list.

fruits = ['apple', 'banana', 'cherry', 'orange']

print(fruits)

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [744]:
fruits[1] = 'guava'


print(fruits)

print(x)

['apple', 'guava', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

## Observation:

(i) Using copy(), a shallow copy is created i.e any changes happened in the original array if not reflected in the copied array.

In [745]:
# 4. count() = It returns the total number of elements in the array.

fruits = ['apple', 'banana', 'cherry']


x = fruits.count('cherry')

print(x)

1

In [746]:
# Return the number of times the value 9 appears int the list

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]


x = points.count(9)

print(x)

2

In [747]:
# 5. extend() =  It adds all the elements of one array at the end of current array.

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']


fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [748]:
# 6. index() = It returns the position at the first occurrence of the specified value

fruits = [4, 55, 64, 32, 16, 32]

# position of 32

x = fruits.index(32)

print(x)

3

In [749]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'cherry']

# print(fruits.index('cherry'))

# Find the postion of 'cherry', but start the search at position 5


x = fruits.index('cherry',5)

print(x)

6

In [750]:
# 7. insert() =  It inserts the element at the specified index position.

fruits = ['apple', 'banana', 'cherry']

# Insert the value "orange" as the second element of the fruit list

fruits.insert(1,'orange')


print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [751]:
# 8. pop() = It is used to remove the element from the array using the index position.

fruits = ['apple', 'banana', 'cherry']

## Remove the second element of the fruit list

fruits.pop(1)


print(fruits)

['apple', 'cherry']

In [752]:
# Removes the last inserted value

fruits.pop()

print(fruits)

['apple']

In [753]:
# 9. remove() = It is used to remove the element from the array using the name.

# Remove the "banana" element of the fruit list

fruits = ['apple', 'banana', 'cherry']

fruits.remove('banana')

print(fruits)

['apple', 'cherry']

In [754]:
# 10. reverse() = It is used to reverse all the elements in the array

fruits = ['apple', 'banana', 'cherry']


fruits.reverse()


print(fruits)

['cherry', 'banana', 'apple']

In [755]:
# 11. sort() = It arranges all the elements in the array alphabetically in ascending or descending order.


cars = ['Ford', 'BMW', 'Volvo']


print(cars)


cars.sort()

print(cars)


#### Reverse the elements of the array in reverse order


cars.sort(reverse=True)

print(cars)

['Ford', 'BMW', 'Volvo']
['BMW', 'Ford', 'Volvo']
['Volvo', 'Ford', 'BMW']