## Pandas

Pandas is a Python library

It is used to analyze the data.

In [5007]:
import numpy  as np
import pandas as pd

x = pd.read_csv('data.csv')

print(x)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5008]:
# convert the dataframe to string

print(x.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

## Pandas Introduction

1. It is a stndard library that works with the datasets.

2. It is used for analyzing, cleaning and manipulating tne data.

3. It has reference to Panel Data and Python Data Science

## Why Use Pandas?

1. It is used for analyzing, cleaning and manipulating the data and derieve conclusions from the statistical theories.

2. It makes a messy data into clean and readable format

3. It is used in the data science field.

## What Pandas can do ?

1. It is useful for finding out the correlation between two columns.

2. It is used to calculate the Average value.

3. It is used to calculate the minimum vlue.

4. It is used to calculate the maximum value.

In [5009]:
import pandas as pd 

# create a dataframe

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(mydataset)

print(df)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5010]:
# version of pandas

import pandas as pd 

print(pd.__version__)

2.2.2

## Pandas Series

It can be defined as one dimensional array element holding any kind of element.

In [5011]:
import pandas as pd

x = pd.Series([10,20,30,40,50])

print(x)

print(x.dtype)

print(type(x))

0    10
1    20
2    30
3    40
4    50
dtype: int64
int64
<class 'pandas.core.series.Series'>

### OBSERVATIONS:

1.  Here the entire lists is converted into 1-D array.

2.  It can hold elements of any type.

3.  The series can be accessed in terms of the labels.

In [5012]:
### Accessing all the elements in the series

print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

10
20
30
40
50

## Create Labels

With the index argument, you can name your own labels

In [5013]:
import pandas as pd 

a = [10,20,30]

# creating the Series with the help of labels

res = pd.Series(a, index=['a','b','c'])

print(res)

a    10
b    20
c    30
dtype: int64

In [5014]:
## Return all the series values through label


print(res['a'])
print(res['b'])
print(res['c'])

10
20
30

In [5015]:
## Create a simple Pandas Series from a dictionary

import pandas as pd 

calories = {"day1": 420, "day2": 380, "day3": 390}

print(calories)

### series

ser = pd.Series(calories)

print(ser)


### Accessing the elements from the series

print(ser['day1'])
print(ser['day2'])
print(ser['day3'])

{'day1': 420, 'day2': 380, 'day3': 390}
day1    420
day2    380
day3    390
dtype: int64
420
380
390

In [5016]:
## Create a Series using only data from "day1" and "day2"

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

ser = pd.Series(calories, index = ['day1','day2'])

print(ser)

day1    420
day2    380
dtype: int64

## DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table

In [5017]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}


print(data)

### Dataframe

df = pd.DataFrame(data)

print(df)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}
   calories  duration
0       420        50
1       380        40
2       390        45

## loc()

It is used to return one or more specified rows.

In [5018]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

### OBSERVATIONS:

1. It selects the rows based on the label 0.

In [5019]:
## Return row 0 and row 1

df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [5020]:
## Add a list of names to give each row a name

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}


df=pd.DataFrame(data,index = ["day1","day2","day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [5021]:
## Return "day2"

df.loc['day2']

calories    380
duration     40
Name: day2, dtype: int64

In [5022]:
## Load the CSV into a DataFrame in string readable form


import pandas as pd

df = pd.read_csv('data.csv')

print(df)

# Convert the dataframe into string readable form

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5023]:
# Return the number of rows in the dataframe

print("Number of rows in the dataframe is:", df.shape[0])

Number of rows in the dataframe is: 169

In [5024]:
print("Number of rows in the dataframe is:", len(df))

Number of rows in the dataframe is: 169

In [5025]:
## Load a Python Dictionary into a DataFrame

import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

# print(data)

# Convert the Python Dictionary into DataFrame

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## Pandas - Analyzing DataFrames

### 1. Cleaning Data


One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top

In [5026]:
import pandas as pd

df = pd.read_csv('data.csv')

# print the top 10 rows of the dataframe

print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [5027]:
## Print the first 5 rows of the DataFrame

print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [5028]:
## Print the last 5 rows of the DataFrame

print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

## Info About the Data

The DataFrames object has a method called info(), that gives you more information about the data set

In [5029]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

## Null Values

In [5030]:
df[df.isnull()]

     Duration  Pulse  Maxpulse  Calories
0         NaN    NaN       NaN       NaN
1         NaN    NaN       NaN       NaN
2         NaN    NaN       NaN       NaN
3         NaN    NaN       NaN       NaN
4         NaN    NaN       NaN       NaN
..        ...    ...       ...       ...
164       NaN    NaN       NaN       NaN
165       NaN    NaN       NaN       NaN
166       NaN    NaN       NaN       NaN
167       NaN    NaN       NaN       NaN
168       NaN    NaN       NaN       NaN

[169 rows x 4 columns]

### OBSERVATIONS:

1.  There is no NULL Values in the dataframe.

## Data Cleaning

###  2. Cleaning Empty Cells


###  Data cleaning means fixing bad data in your data set.

##  Bad data could be:

1.   Empty cells

2.   Data in wrong format

3.   Wrong data

4.   Duplicates

In [5031]:
## Read the dataset

import pandas as pd 

# Dataframe
print("-------------------Before Data Cleaning--------------------------------")

df = pd.read_csv('data.csv')

print(df)
print(df.shape[0])

print("-------------------After Data Cleaning--------------------------------")
## Remove all rows with NULL values

newdf = df.dropna()

print(newdf)
print(newdf.shape[0])

-------------------Before Data Cleaning--------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
169
-------------------After Data Cleaning--------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]
164

### OBSERVATIONS:

1. There were five rows that were NULL Values and it has been removed.

In [5032]:
print(newdf.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5033]:
## Read the dataset

import pandas as pd 

# Dataframe
print("-------------------Before Data Cleaning--------------------------------")

df = pd.read_csv('data.csv')

print(df)

print("-------------------After Data Cleaning--------------------------------")

## Remove all the NULL Values from the dataframe and modify the original dataframe

df.dropna(inplace=True)

print(df)

-------------------Before Data Cleaning--------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
-------------------After Data Cleaning--------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [5034]:
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5035]:
import pandas as pd 

## Read the csv file

print("-------------------Before Data Cleaning--------------------------------")

df = pd.read_csv('data.csv')

print(df)

-------------------Before Data Cleaning--------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5036]:
# 1. Get the information about the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [5037]:
# 2. Get all the NULL Values from the dataset

df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

### OBSERVATIONS:

1. There are total five NULL Values of Calories column used in the dataset.

In [5038]:
# 3. Get all the rows where all values are NULL

## Get the columns having NULL Values


df['Calories'] = df['Calories'].fillna(df['Calories'].mean())

In [5039]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

### OBSERVATIONS:

1. There are no NULL records used in the dataset.

In [5040]:
## From the given data, Calories is the column having 5 NULL Values.

# Retrieve the NULL records of Calories

df[df['Calories'].isnull()]

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

### OBSERVATIONS:

1.  There are no NULL records used in the dataframe for the Calories column.

In [5041]:
## Replace all the NULL records of Calories with 130 value

df = pd.read_csv('data.csv')

print(df)

df.isnull().sum()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [5042]:
df['Calories'] = df['Calories'].fillna(130)

In [5043]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

### OBSERVATIONS:

1. All the NULL values in the Calories column has been filled with 130 value.

In [5044]:
## Replace NULL values in the "Calories" columns with the number 130

#print(df)

## Get the NULL Column info

import pandas as pd

print("-------------------Before Cleaning------------------------------------")

df = pd.read_csv('data.csv')

print(df)

print(df.isnull().sum())

print("-------------------After Cleaning------------------------------------")
df['Calories'] = df['Calories'].fillna(130)

print(df.isnull().sum())

-------------------Before Cleaning------------------------------------
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
-------------------After Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

## Replace Using Mean, Median, or Mode

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column

### 1. mean()

In [5045]:
import pandas as pd

df = pd.read_csv('data.csv')

print("-------------------Before Cleaning------------------------------------")

print(df.isnull().sum())

x = df['Calories'].mean()
print('Mean is :', x)

print("-------------------After Cleaning------------------------------------")

df['Calories'] = df['Calories'].fillna(df['Calories'].mean())

print(df.isnull().sum())

-------------------Before Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
Mean is : 375.79024390243904
-------------------After Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [5046]:
df[df['Calories'] == 375.79024390243904]

     Duration  Pulse  Maxpulse    Calories
17         45     90       112  375.790244
27         60    103       132  375.790244
91         45    107       137  375.790244
118        60    105       125  375.790244
141        60     97       127  375.790244

## OBSERVATIONS:

1.  After filling all the NULL Values of Calories with the mean value of it, there are now no NULL Values for Calories column.

## 2. median()

In [5047]:
import pandas as pd

df = pd.read_csv('data.csv')

print("-------------------Before Cleaning------------------------------------")

print(df.isnull().sum())

x = df['Calories'].median()
print(x)


print("-------------------After Cleaning------------------------------------")

df['Calories'] = df['Calories'].fillna(x)
print(df.isnull().sum())

-------------------Before Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
318.6
-------------------After Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [5048]:
df[df['Calories'] == 318.6]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112     318.6
27         60    103       132     318.6
91         45    107       137     318.6
118        60    105       125     318.6
141        60     97       127     318.6

## 3. mode()

In [5049]:
import pandas as pd

df = pd.read_csv('data.csv')

print("-------------------Before Cleaning------------------------------------")

print(df.isnull().sum())

x = df['Calories'].mode()[0]

print("Mode is:", x)

print("-------------------After Cleaning------------------------------------")

df['Calories'] = df['Calories'].fillna(x)

print(df.isnull().sum())

-------------------Before Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
Mode is: 300.0
-------------------After Cleaning------------------------------------
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [5050]:
df[df['Calories']==300.0]

     Duration  Pulse  Maxpulse  Calories
5          60    102       127     300.0
16         60    100       120     300.0
17         45     90       112     300.0
22         60    130       101     300.0
27         60    103       132     300.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
47         45    111       136     300.0
77         45    110       141     300.0
85         30    151       170     300.0
91         45    107       137     300.0
118        60    105       125     300.0
141        60     97       127     300.0
165        60    110       145     300.0

### 3. Cleaning Wrong Format

In [5051]:
import pandas as pd
import numpy as np

data = {
    "Duration": [60, 60, 60, 45, 45, 60, 60, 450, 30, 60, 60, 60, 60, 60, 60, 60, 60, 60, 45, 60, 45, 60, 45, 60, 45, 60, 60, 60, 60, 60, 60, 60],
    "Date": ['2020/12/01','2020/12/02','2020/12/03','2020/12/04','2020/12/05','2020/12/06','2020/12/07','2020/12/08','2020/12/09','2020/12/10',
             '2020/12/11','2020/12/12','2020/12/12','2020/12/13','2020/12/14','2020/12/15','2020/12/16','2020/12/17','2020/12/18','2020/12/19',
             '2020/12/20','2020/12/21',np.nan,'2020/12/23','2020/12/24','2020/12/25','20201226','2020/12/27','2020/12/28','2020/12/29',
             '2020/12/30','2020/12/31'],
    "Pulse": [110,117,103,109,117,102,110,104,109,98,103,100,100,106,104,98,98,100,90,103,97,108,100,130,105,102,100,92,103,100,102,92],
    "Maxpulse": [130,145,135,175,148,127,136,134,133,124,147,120,120,128,132,123,120,120,112,123,125,131,119,101,132,126,120,118,132,132,129,115],
    "Calories": [409.1,479.0,340.0,282.4,406.0,300.0,374.0,253.3,195.1,269.0,329.3,250.7,250.7,345.3,379.3,275.0,215.2,300.0,np.nan,323.0,
                 243.0,364.2,282.0,300.0,246.0,334.5,250.0,241.0,np.nan,280.0,380.3,243.0]
}

df = pd.DataFrame(data)

print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [5052]:
## Let's try to convert all cells in the 'Date' column into dates

import pandas as pd

df['Date'] = pd.to_datetime(df['Date'], format='mixed')

df.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

In [5053]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [5054]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [5055]:
df.dropna(subset='Date', inplace=True)

In [5056]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [5057]:
df['Calories'] = df['Calories'].fillna(df['Calories'].mean())

In [5058]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

## 4. Cleaning Wrong Data

In [5059]:
## Set the value of Duration to "45" in row 7

df.loc[7,'Duration'] = 45

In [5060]:
df

    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000
2         60 2020-12-03    103       135  340.000000
3         45 2020-12-04    109       175  282.400000
4         45 2020-12-05    117       148  406.000000
5         60 2020-12-06    102       127  300.000000
6         60 2020-12-07    110       136  374.000000
7         45 2020-12-08    104       134  253.300000
8         30 2020-12-09    109       133  195.100000
9         60 2020-12-10     98       124  269.000000
10        60 2020-12-11    103       147  329.300000
11        60 2020-12-12    100       120  250.700000
12        60 2020-12-12    100       120  250.700000
13        60 2020-12-13    106       128  345.300000
14        60 2020-12-14    104       132  379.300000
15        60 2020-12-15     98       123  275.000000
16        60 2020-12-16     98       120  215.200000
17        60 2020-12-17    100       120  300.000000
18        45 2020-12-18     90       112  305.462069
19        60 2020-12-19    103       123  323.000000
20        45 2020-12-20     97       125  243.000000
21        60 2020-12-21    108       131  364.200000
23        60 2020-12-23    130       101  300.000000
24        45 2020-12-24    105       132  246.000000
25        60 2020-12-25    102       126  334.500000
26        60 2020-12-26    100       120  250.000000
27        60 2020-12-27     92       118  241.000000
28        60 2020-12-28    103       132  305.462069
29        60 2020-12-29    100       132  280.000000
30        60 2020-12-30    102       129  380.300000
31        60 2020-12-31     92       115  243.000000

In [5061]:
## Check for the NULL Values 

df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

### OBSERVATIONS:

1.  There are no NULL Values used in the dataset.

## Q

Loop through all values in the "Duration" column.

If the value is higher than 120, set it to 120

In [5062]:
for x in df.index:
    if(df.loc[x,'Duration']) > 120:
        df.loc[x,'Duration'] = 120

In [5063]:
df

    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000
2         60 2020-12-03    103       135  340.000000
3         45 2020-12-04    109       175  282.400000
4         45 2020-12-05    117       148  406.000000
5         60 2020-12-06    102       127  300.000000
6         60 2020-12-07    110       136  374.000000
7         45 2020-12-08    104       134  253.300000
8         30 2020-12-09    109       133  195.100000
9         60 2020-12-10     98       124  269.000000
10        60 2020-12-11    103       147  329.300000
11        60 2020-12-12    100       120  250.700000
12        60 2020-12-12    100       120  250.700000
13        60 2020-12-13    106       128  345.300000
14        60 2020-12-14    104       132  379.300000
15        60 2020-12-15     98       123  275.000000
16        60 2020-12-16     98       120  215.200000
17        60 2020-12-17    100       120  300.000000
18        45 2020-12-18     90       112  305.462069
19        60 2020-12-19    103       123  323.000000
20        45 2020-12-20     97       125  243.000000
21        60 2020-12-21    108       131  364.200000
23        60 2020-12-23    130       101  300.000000
24        45 2020-12-24    105       132  246.000000
25        60 2020-12-25    102       126  334.500000
26        60 2020-12-26    100       120  250.000000
27        60 2020-12-27     92       118  241.000000
28        60 2020-12-28    103       132  305.462069
29        60 2020-12-29    100       132  280.000000
30        60 2020-12-30    102       129  380.300000
31        60 2020-12-31     92       115  243.000000

## Removing Rows

Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses

In [5064]:
### Remove all the rows whose Duration is above 120

for i in df.index:
    if(df.loc[i,'Duration'] > 120):
        df.dropna(i, inplace=True)

In [5065]:
df

    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000
2         60 2020-12-03    103       135  340.000000
3         45 2020-12-04    109       175  282.400000
4         45 2020-12-05    117       148  406.000000
5         60 2020-12-06    102       127  300.000000
6         60 2020-12-07    110       136  374.000000
7         45 2020-12-08    104       134  253.300000
8         30 2020-12-09    109       133  195.100000
9         60 2020-12-10     98       124  269.000000
10        60 2020-12-11    103       147  329.300000
11        60 2020-12-12    100       120  250.700000
12        60 2020-12-12    100       120  250.700000
13        60 2020-12-13    106       128  345.300000
14        60 2020-12-14    104       132  379.300000
15        60 2020-12-15     98       123  275.000000
16        60 2020-12-16     98       120  215.200000
17        60 2020-12-17    100       120  300.000000
18        45 2020-12-18     90       112  305.462069
19        60 2020-12-19    103       123  323.000000
20        45 2020-12-20     97       125  243.000000
21        60 2020-12-21    108       131  364.200000
23        60 2020-12-23    130       101  300.000000
24        45 2020-12-24    105       132  246.000000
25        60 2020-12-25    102       126  334.500000
26        60 2020-12-26    100       120  250.000000
27        60 2020-12-27     92       118  241.000000
28        60 2020-12-28    103       132  305.462069
29        60 2020-12-29    100       132  280.000000
30        60 2020-12-30    102       129  380.300000
31        60 2020-12-31     92       115  243.000000

In [5066]:
## 5. Removing Duplicates


import pandas as pd
import numpy as np

data = {
    "Duration": [60, 60, 60, 45, 45, 60, 60, 450, 30, 60, 60, 60, 60, 60, 60, 60, 60, 60, 45, 60, 45, 60, 45, 60, 45, 60, 60, 60, 60, 60, 60, 60],
    "Date": ['2020/12/01','2020/12/02','2020/12/03','2020/12/04','2020/12/05','2020/12/06','2020/12/07','2020/12/08','2020/12/09','2020/12/10',
             '2020/12/11','2020/12/12','2020/12/12','2020/12/13','2020/12/14','2020/12/15','2020/12/16','2020/12/17','2020/12/18','2020/12/19',
             '2020/12/20','2020/12/21',np.nan,'2020/12/23','2020/12/24','2020/12/25','20201226','2020/12/27','2020/12/28','2020/12/29',
             '2020/12/30','2020/12/31'],
    "Pulse": [110,117,103,109,117,102,110,104,109,98,103,100,100,106,104,98,98,100,90,103,97,108,100,130,105,102,100,92,103,100,102,92],
    "Maxpulse": [130,145,135,175,148,127,136,134,133,124,147,120,120,128,132,123,120,120,112,123,125,131,119,101,132,126,120,118,132,132,129,115],
    "Calories": [409.1,479.0,340.0,282.4,406.0,300.0,374.0,253.3,195.1,269.0,329.3,250.7,250.7,345.3,379.3,275.0,215.2,300.0,np.nan,323.0,
                 243.0,364.2,282.0,300.0,246.0,334.5,250.0,241.0,np.nan,280.0,380.3,243.0]
}

df = pd.DataFrame(data)

print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [5067]:
# Convert the datetime to date

## Let's try to convert all cells in the 'Date' column into dates
import pandas as pd 

df['Date'] = pd.to_datetime(df['Date'], format='mixed')

In [5068]:
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [5069]:
### Remove the NULL Dates

df.dropna(subset='Date', inplace=True)

In [5070]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [5071]:
### Detect the duplicates

df[df.duplicated()]

    Duration       Date  Pulse  Maxpulse  Calories
12        60 2020-12-12    100       120     250.7

### To remove duplicates, use the drop_duplicates() method

In [5072]:
df.drop_duplicates(inplace=True)

In [5073]:

df[df.duplicated()]

Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories]
Index: []

In [5074]:
df['Calories'] = df['Calories'].fillna(df['Calories'].mean())

In [5075]:
df

    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000
2         60 2020-12-03    103       135  340.000000
3         45 2020-12-04    109       175  282.400000
4         45 2020-12-05    117       148  406.000000
5         60 2020-12-06    102       127  300.000000
6         60 2020-12-07    110       136  374.000000
7        450 2020-12-08    104       134  253.300000
8         30 2020-12-09    109       133  195.100000
9         60 2020-12-10     98       124  269.000000
10        60 2020-12-11    103       147  329.300000
11        60 2020-12-12    100       120  250.700000
13        60 2020-12-13    106       128  345.300000
14        60 2020-12-14    104       132  379.300000
15        60 2020-12-15     98       123  275.000000
16        60 2020-12-16     98       120  215.200000
17        60 2020-12-17    100       120  300.000000
18        45 2020-12-18     90       112  307.417857
19        60 2020-12-19    103       123  323.000000
20        45 2020-12-20     97       125  243.000000
21        60 2020-12-21    108       131  364.200000
23        60 2020-12-23    130       101  300.000000
24        45 2020-12-24    105       132  246.000000
25        60 2020-12-25    102       126  334.500000
26        60 2020-12-26    100       120  250.000000
27        60 2020-12-27     92       118  241.000000
28        60 2020-12-28    103       132  307.417857
29        60 2020-12-29    100       132  280.000000
30        60 2020-12-30    102       129  380.300000
31        60 2020-12-31     92       115  243.000000

## Pandas - Data Correlations

Correlation ---> It is used to find out the relationships between the columns in the dataset.

In [5076]:
df.corr()

          Duration      Date     Pulse  Maxpulse  Calories
Duration  1.000000 -0.141325 -0.002611  0.039595 -0.124371
Date     -0.141325  1.000000 -0.369328 -0.517827 -0.355757
Pulse    -0.002611 -0.369328  1.000000  0.261426  0.476140
Maxpulse  0.039595 -0.517827  0.261426  1.000000  0.328059
Calories -0.124371 -0.355757  0.476140  0.328059  1.000000