### DataTypes

1. Definition:

Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming

Explanation:

Data types ensure that data is stored in an efficient way.
They help in performing correct operations on data.
Proper use of data types can prevent errors and bugs in the program.

### Video Outline:

1.   Introduction to Data Types

2.   Importance of Data Types in Programming

3.   Basic Data Types

4.   Integers

5.   Floating-point numbers

6.   Strings

7.   Booleans

8.   Advanced Data Types

9.   Lists

10.  Tuples

11.  Sets

12.  Dictionaries

13.  Type Conversion

## Data Types

It helps in assigning the type to every data element in Python.

### 1. Integer DataTypes

In [1088]:
## Integer Example

age = 30

print(age)

30

In [1089]:
### Type of the Age

print(type(age))

<class 'int'>

In [1090]:
x = 11

print(x)

11

In [1091]:
print(type(x))

<class 'int'>

In [1092]:
type(4)

int

In [1093]:
type(-1)

int

In [1094]:
type(0)

int

### 2. Floating point DataTypes

In [1095]:
## floating point datatype

height = 5.18

print(height)

print(type(height))

5.18
<class 'float'>

In [1096]:
y = 2.14

print(y)

print(type(y))

2.14
<class 'float'>

In [1097]:
type(1.0)

float

In [1098]:
type(0.5)

float

In [1099]:
type(0.56)

float

## Converting from one object type to a different object type

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).

Let's try it:

In [1100]:
# Verify that this is an integer

type(2)

int

## Converting integers to floats

Let's cast integer 2 to float:

In [1101]:
float(2)

2.0

# Convert integer 2 to a float and check its type

In [1102]:
type(float(2))

float

In [1103]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

## Converting from strings to integers or floats

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int():

In [1104]:
# Convert a string into an integer

int('1')

1

In [1105]:
# Convert a string into an integer with error

## int('1 or 2')

In [1106]:
# Convert the string "1.2" into a float

float("1.2")

1.2

## Converting numbers to strings

If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [1107]:
# Convert an integer to a string

str(1)

'1'

In [1108]:
# Convert a float to a string

str(1.1)

'1.1'

### 3. String  DataTypes

In [1109]:
## string datatype example

name = "Parag"

text = "Hello, Python 101 !"


print(name)

print(type(name))

Parag
<class 'str'>

In [1110]:
print(text)

print(type(text))

Hello, Python 101 !
<class 'str'>

### 4.  Boolean datatype

In [1111]:
###  boolean datatype

is_true = True

print(is_true)

is_False = False

print(is_False)

True
False

In [1112]:
print(type(is_true))

<class 'bool'>

In [1113]:
print(type(is_False))

<class 'bool'>

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [1114]:
### Convert True to int

int(True)

1

In [1115]:
### Convert 1 to boolean

bool(1)

True

In [1116]:
### Convert False to int

int(False)

0

In [1117]:
### Convert 0 to boolean

bool(0)

False

In [1118]:
result = "Hello" + str(5)

In [1119]:
result

'Hello5'

### 5. Lists

In [1120]:
lists = [1,2,3,4,5]

print(lists)

print(type(lists))

[1, 2, 3, 4, 5]
<class 'list'>

### 6. Tuples

In [1121]:
tuples = (1,2,3,4,5)

print(tuples)

print(type(tuples))

(1, 2, 3, 4, 5)
<class 'tuple'>

### 7. Sets

In [1122]:
sets = {1,1,2,2,2,3,3,3,4,4,4,5,5,5}

print(tuples)

print(type(tuples))

(1, 2, 3, 4, 5)
<class 'tuple'>

### 8. Dictionaries

In [1123]:
dicts = {'name':"parag"  ,
        'age' : 30       ,
        'salary' : 52345
        }

print(dicts)

print(type(dicts))

{'name': 'parag', 'age': 30, 'salary': 52345}
<class 'dict'>

## Exercise: Types

1.   What is the data type of the result of: 6 / 2?

In [1124]:
print(type(6/2))

<class 'float'>

2. What is the type of the result of: 6 // 2? (Note the double slash //.)

In [1125]:
print(type(6//2))

<class 'int'>

3. What is the type of the result of: "Hello, World!"

In [1126]:
print(type("Hello, World!"))

<class 'str'>

4. What is the type of the result of: "hello" == "world"

In [1127]:
print(type("hello" == "world"))

<class 'bool'>

5.  Write the code to convert the following number representing employeeid "1001" to an integer

In [1128]:
employeeid = "1001"

print(int(employeeid))

1001

6. Write the code to convert this number representing financial value "1234.56" to a floating point number

In [1129]:
x = "1234.56"

float(x)

1234.56

7. Write the code to convert this phone number 123-456-7890 to a string

In [1130]:
phone_number = '123-456-7890'

str(phone_number)

'123-456-7890'