## JSON 

It stands for Java Script Object Notation.

It is used for exchanging and storing the data.

It has an inbuilt package called 'json' that is used to work with json data.

In [228]:
import json

## json to python object

x = '{ "name":"John", "age":30, "city":"New York"}'

print(x)

## json to python object

ans = json.loads(x)

print(ans)

{ "name":"John", "age":30, "city":"New York"}
{'name': 'John', 'age': 30, 'city': 'New York'}

In [229]:
print(type(ans))

<class 'dict'>

In [230]:
## json object

x = '{ "name":"John", "age":30, "city":"New York", "country":"USA"}'

print(x)

{ "name":"John", "age":30, "city":"New York", "country":"USA"}

In [231]:
## python object

ans = json.loads(x)

print(ans)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [232]:
print(type(ans))

<class 'dict'>

In [233]:
## Convert from Python Object to JSON String

import json

# python object

x = {
    'name' : 'Parag'  ,
    'age'  :  30      ,
    'city' : 'Sambalpur'
}


print(x)

print(type(x))

{'name': 'Parag', 'age': 30, 'city': 'Sambalpur'}
<class 'dict'>

In [234]:
## json object

res = json.dumps(x)

In [235]:
print(res)

{"name": "Parag", "age": 30, "city": "Sambalpur"}

In [236]:
print(type(res))

<class 'str'>

In [237]:
## Convert Python objects into JSON strings, and print the values

print(json.dumps({"name": "John", "age": 30}))

print(type(json.dumps({"name": "John", "age": 30})))

{"name": "John", "age": 30}
<class 'str'>

In [238]:
print(json.dumps([10,20]))

print(type(json.dumps([10,20])))

[10, 20]
<class 'str'>

In [239]:
print(json.dumps((10,20)))

print(type(json.dumps((10,20))))

[10, 20]
<class 'str'>

In [240]:
print(json.dumps("hello"))

print(type(json.dumps("hello")))

"hello"
<class 'str'>

In [241]:
print(json.dumps(42))

print(type(json.dumps(42)))

42
<class 'str'>

In [242]:
print(json.dumps(31.76))

print(type(json.dumps(31.76)))

31.76
<class 'str'>

In [243]:
print(json.dumps(True))

print(type(json.dumps(True)))

true
<class 'str'>

In [244]:
print(json.dumps(False))

print(type(json.dumps(False)))

false
<class 'str'>

In [245]:
print(json.dumps(None))


print(type(json.dumps(None)))

null
<class 'str'>

In [246]:
## Convert a Python object containing all the legal data types

import json

x = {
    "name": "John",
    "age": 30,
    "married": True,
    "divorced": False,
    "children": ("Ann","Billy"),
    "pets": None,
    "cars": [
      {"model": "BMW 230", "mpg": 27.5},
      {"model": "Ford Edge", "mpg": 24.1}
    ]
}

print(x)

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}

In [247]:
## json object

ans = json.dumps(x)

print(ans)

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [248]:
print(type(ans))

<class 'str'>

In [249]:
resdata = json.dumps(x, indent=4)

print(resdata)

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [250]:
resdata = json.dumps(x, indent=4,sort_keys=True)

print(resdata)

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [251]:
resdata = json.dumps(x, indent=4, separators=(".","="))

print(resdata)

{
    "name"="John".
    "age"=30.
    "married"=true.
    "divorced"=false.
    "children"=[
        "Ann".
        "Billy"
    ].
    "pets"=null.
    "cars"=[
        {
            "model"="BMW 230".
            "mpg"=27.5
        }.
        {
            "model"="Ford Edge".
            "mpg"=24.1
        }
    ]
}