##  SQL And SQLite


SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [106]:
import sqlite3

In [107]:
## create a connect that is used to connect to the sqlite database

connection1 = sqlite3.connect('exampless.db')

In [108]:
## create a cursor object

cursor1 = connection1.cursor()

In [109]:
## Create a Table

cursor1.execute(
    '''
    Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
    '''
)

In [110]:
### fetch the data from the table using the cursor

cursor1.execute(
    '''
     Select * from employees;
    '''
)

In [111]:
## Insert the data in sqlite table
cursor1.execute(
    '''
     Insert Into employees(name,age,department)VALUES('Krish',32,'Data Scientist')
    '''
)


cursor1.execute(
    '''
     Insert Into employees(name,age,department)VALUES('Bob', 25, 'Engineering')
    '''
)


cursor1.execute(
    '''
     Insert Into employees(name,age,department)VALUES('Charlie', 35, 'Finance')
    '''
)

In [112]:
### fetch the data from the table using the cursor

cursor1.execute(
    '''
     Select * from employees;
    '''
)

rows = cursor1.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [113]:
## Update the data in the table

cursor1.execute(''' 
UPDATE employees SET age = 34 WHERE name = "Krish"
''')

In [114]:
### fetch the data from the table using the cursor

cursor1.execute(
    '''
     Select * from employees;
    '''
)

rows = cursor.fetchall()

for row in rows:
    print(row)

In [115]:
## Delete the data from the table

cursor1.execute(
    '''
     Delete from employees where name = "Charlie"
    '''
)

In [116]:
## Query the data from the table
cursor1.execute('Select * from employees')
rows=cursor1.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')

In [117]:
connection1.commit()