## What are Strings?

Strings are the sequences of characters enclosed within single or double quotes.

In [674]:
# Use quotation marks for defining string

"The Bodyguard"

'The Bodyguard'

In [675]:
# Use single quotation marks for defining string

'The Bodyguard'

'The Bodyguard'

In [676]:
# Digitals and spaces in string

'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [677]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [678]:
print('Hello World')

Hello World

# Assign string to variable

In [679]:
x = 'Hello World'

print(x)

Hello World

## Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

# Print the first element in the string

In [680]:
name = "Parag Pujari"


print(name[0])

print(name[-12])

P
P

### Print the element on index 6 in the string

In [681]:
name[6]

'P'

###  Print the element on the 10th index in the string

In [682]:
name[10]

'r'

## Negative Indexing

We can also use negative indexing with strings:


Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [683]:
# Print the last element in the string

print(name[11])

print(name[-1])

i
i

In [684]:
# Find the length of string

print(len(name))

12

## Slicing


We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [685]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Para'

In [686]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'jari'

## Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [687]:
name[::2]

'PrgPjr'

In [688]:
# Get every second element, starting with the index 0. The elments on index 0, 2, 4 ...

name[0::2]

'PrgPjr'

In [689]:
# Get every second element in the range from index 0 to index 4

name[0:4:2]

'Pr'

## Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [690]:
name

print(name + ' ' + 'is the best.')

Parag Pujari is the best.

In [691]:
# Print the string for 3 times

name = "Parag"

print(name * 3)

ParagParagParag

In [692]:
# Concatenate strings

stmts = name + " " + "is the best album."

print(stmts)

Parag is the best album.

## Escape Sequences


Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [693]:
# New line escape sequence

print("The bodyguard \n is the best album.")

The bodyguard
 is the best album.

In [694]:
# Tab escape sequence

print("The bodyguard \t is the best album.")

The bodyguard 	 is the best album.

In [695]:
# Include back slash in string


print("The bodyguard \\ is the best album.")

The bodyguard \ is the best album.

## String Manipulation Operations

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method upper; this method converts lower case characters to upper case characters:

In [696]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("Before Converting:", a)

new_a = a.upper()
print("After Converting:", new_a)

Before Converting: Thriller is the sixth studio album
After Converting: THRILLER IS THE SIXTH STUDIO ALBUM

In [697]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "The BodyGuard is the best album"

c = a.replace("BodyGuard", "Janet")

print(c)

The Janet is the best album

In [698]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "The BodyGuard"

name.find("he")

1

In [699]:
# Find the substring in the string.

name.find("Guard")

8

In [700]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

The method Split splits the string at the specified separator, and returns a list.

## Syntax

string.split(separator, maxsplit)

## Parameters

separator (optional): This is the delimiter at which the string will be split. If not provided, the default separator is any whitespace.
maxsplit (optional): This specifies the maximum number of splits to perform. If not provided, there is no limit on the number of splits.
Return Value:

The method returns a list of substrings.

In [701]:
# Split the substring into list
name = "The BodyGuard"

split_name = name.split(' ')

print(split_name)

['The', 'BodyGuard']