## T-Test

A T-test is used to determine whether the means of one or two groups are statistically different from a known value or from each other.

(i)  One-sample T-test → Tests if the mean of one group differs from a known population mean.

(ii) Two-sample T-test → Tests if the means of two independent groups differ.

In [119]:
## import all the necessaru libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from   scipy import stats

In [120]:
# Step 2: Create sample data
# Example: Exam scores of two classes
np.random.seed(42)  # for reproducibility
class_A = np.random.normal(loc=75, scale=10, size=30)  # mean=75, std=10
class_B = np.random.normal(loc=80, scale=12, size=30)  # mean=80, std=12

In [121]:
class_A

array([79.96714153, 73.61735699, 81.47688538, 90.23029856, 72.65846625,
       72.65863043, 90.79212816, 82.67434729, 70.30525614, 80.42560044,
       70.36582307, 70.34270246, 77.41962272, 55.86719755, 57.75082167,
       69.37712471, 64.8716888 , 78.14247333, 65.91975924, 60.87696299,
       89.65648769, 72.742237  , 75.67528205, 60.75251814, 69.55617275,
       76.1092259 , 63.49006423, 78.75698018, 68.9936131 , 72.0830625 ])

In [122]:
class_B

array([ 72.77952065, 102.22733821,  79.8380333 ,  67.30746885,
        89.87053895,  65.3498762 ,  82.50636314,  56.48395851,
        64.06176741,  82.36233483,  88.86159896,  82.05641937,
        78.61222061,  76.38675565,  62.25773612,  71.3618695 ,
        74.47233475,  92.68546671,  84.12341947,  58.84351814,
        83.88900763,  75.37901264,  71.876936  ,  87.34011547,
        92.37199427,  91.17536143,  69.92938972,  76.28945149,
        83.97516118,  91.70654153])

In [123]:
## Perform One-Sample T-Test

t_stat_1, p_value_1 = stats.ttest_1samp(class_A, popmean=60)

In [124]:
print("-----------------One Sample T Test Statistics-------------------")

print("T-Test Statistics value for 1 sample test :", t_stat_1)

print("P Statistics value for 1 sample test :", p_value_1)

-----------------One Sample T Test Statistics-------------------
T-Test Statistics value for 1 sample test : 7.983626731971004
P Statistics value for 1 sample test : 8.351628916886674e-09

In [125]:
p_value_1

np.float64(8.351628916886674e-09)

In [126]:
if(p_value_1 < 0.05):
    print("Alternate Hypothesis: Mean of class_A is significantly different from population mean 70.\n")
else:
    print("Null Hypothesis: Mean of class_A is same as population mean 70.\n")

Alternate Hypothesis: Mean of class_A is significantly different from population mean 70.

## OBSERVATION:

1. stats.ttest_1samp --> Here it performs 1 sample ttest between the mean of class A and population mean.

In [127]:
#  Perform Two-Sample T-Test

t_stat_2 , p_value_2 = stats.ttest_ind(class_A, class_B)

In [128]:
print("-----------------Two Sample T Test Statistics-------------------")

print("T-Test Statistics value for 2 sample test :", t_stat_2)

print("P Statistics value for 2 sample test :", p_value_2)

-----------------Two Sample T Test Statistics-------------------
T-Test Statistics value for 2 sample test : -2.0720243559501355
P Statistics value for 2 sample test : 0.04271922499809656

In [129]:
np.mean(class_A)

np.float64(73.11853104148963)

In [130]:
np.mean(class_B)

np.float64(78.5460503565207)

In [131]:
if(p_value_2 < 0.05):
    print("Alternate Hypothesis : Mean of class A is different than the mean of class B")
else:
    print("Null Hypothesis : Mean of class A is same as mean of class B")

Alternate Hypothesis : Mean of class A is different than the mean of class B

## OBSERVATION:

1. stats.ttest_ind --> Here it performs 2 sample ttest between the mean of class A and the mean of class B.